<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete</title>
    <style>
        body{
            background: #B3FFAB;
            background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
                        background: linear-gradient(to right, #12FFF7, #B3FFAB);

        }
        .a{
            margin-top: 100px;
            width: 30%;
            margin-left: 480px;
        }
    </style>
</head>
<body>
    <center><h1 style="margin-top: 80px;">Delete Existing Job</h1></center>
    <div class="a">
    <form action="/deletedata" method="post" id='form'>
                Job Name &nbsp;
        <input type="text" name="job" id="job"><br><br><br>
        <center><button type="submit">Submit</button></center>
    </form>
    </div>
</body>
</html>