<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <style>
        body{
            background: #5614B0;
            background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);
            background: linear-gradient(to right, #DBD65C, #5614B0); 
        }
        .a{
            margin-top: 100px;
            width: 30%;
            margin-left: 480px;
        }   
    </style>
</head>
<body>
    <center><h1 style="margin-top: 100px;">Update Existing Job</h1></center>
    <div class="a">
    <form action="/updata" method="post" id='form'>
        Old Job Name &nbsp;&nbsp;&nbsp;
        <input type="text" name="job" id="job"><br><br>
                New Job Name &nbsp;
        <input type="text" name="job2" id="job2"><br><br>
                New Description
        <input type="text" name="desc" id="desc"><br><br><br>
        <center><button type="submit">Submit</button></center>
    </form>
    </div>
</body>
</html>